
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*=================================================================================
	global
=================================================================================*/

.fix
{
	*zoom: 1;
}
.fix:before,
.fix:after
{
	display: table;
	content: "";
	line-height: 0;
}
.fix:after
{
	clear: both;
}
.clr
{
	clear: both;
}
.lef
{
	float: left;
}
.rig
{
	float: right;
}
.cen
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	clear: both;
}
.blo
{
	display: block;
}
.inb
{
	display: inline-block;
}

.hor-l, .hor-r, .hor-c, .hor-e, .hor-a,
.ver-t, .ver-b, .ver-c, .ver-s
{
	display: flex;
}

.hor-l
{
	justify-content: flex-start;
}
.hor-r
{
	justify-content: flex-end;
}
.hor-c
{
	justify-content: center;
}
/*.hor-e
{
	justify-content: space-between;
}
.hor-a
{
	justify-content: space-around;
}*/

.ver-t
{
	align-items: flex-start;
}
.ver-b
{
	align-items: flex-end;
}
.ver-c
{
	align-items: center;
}
/*.ver-s
{
	align-items: stretch;
}*/

.txt-c
{
	text-align: center;
}
.txt-r
{
	text-align: right;
}
.txt-l
{
	text-align: left;
}


/*=================================================================================
	grid
=================================================================================*/

[class*="box0"]
[class*="box1"],[class*="box1-"],[class*="box2-"], [class*="box3-"], [class*="box4-"], [class*="box5-"], [class*="box6-"],[class*="box7-"], [class*="box8-"], [class*="box9-"], [class*="box10-"], [class*="box11-"], [class*="box12-"],
[class*="lbox1"],[class*="lbox1-"],[class*="lbox2-"], [class*="lbox3-"], [class*="lbox4-"], [class*="lbox5-"], [class*="lbox6-"],[class*="lbox7-"], [class*="lbox8-"], [class*="lbox9-"], [class*="lbox10-"], [class*="lbox11-"], [class*="lbox12-"],
[class*="mbox1"],[class*="mbox1-"],[class*="mbox2-"], [class*="mbox3-"], [class*="mbox4-"], [class*="mbox5-"], [class*="mbox6-"],[class*="mbox7-"], [class*="mbox8-"], [class*="mbox9-"], [class*="mbox10-"], [class*="mbox11-"], [class*="mbox12-"],
[class*="sbox1"],[class*="sbox1-"],[class*="sbox2-"], [class*="sbox3-"], [class*="sbox4-"], [class*="sbox5-"], [class*="sbox6-"],[class*="sbox7-"], [class*="sbox8-"], [class*="sbox9-"], [class*="sbox10-"], [class*="sbox11-"], [class*="sbox12-"],
[class*="xbox1"],[class*="xbox1-"],[class*="xbox2-"], [class*="xbox3-"], [class*="xbox4-"], [class*="xbox5-"], [class*="xbox6-"],[class*="xbox7-"], [class*="xbox8-"], [class*="xbox9-"], [class*="xbox10-"], [class*="xbox11-"], [class*="xbox12-"]
{
	word-break: break-all;
}

.case
{
	display: flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
}

/*---------------------------------------------------------------------------------
	over [o] 
	over desktop 1201px <=
---------------------------------------------------------------------------------*/
/* numbers */
.box0 {flex: 1}
.box1, .box1-1 {flex-basis: 100%;}
.box2-1 {flex-basis: 50%;}
.box2-2 {flex-basis: 100%;}
.box3-1 {flex-basis: calc(100% / 3);}
.box3-2 {flex-basis: calc(100% / 3 * 2);}
.box3-3 {flex-basis: 100%;}
.box4-1 {flex-basis: 25%;}
.box4-2 {flex-basis: 50%;}
.box4-3 {flex-basis: 75%;}
.box4-4 {flex-basis: 100%;}
.box5-1 {flex-basis: 20%;}
.box5-2 {flex-basis: 40%;}
.box5-3 {flex-basis: 60%;}
.box5-4 {flex-basis: 80%;}
.box5-5 {flex-basis: 100%;}
.box6-1 {flex-basis: calc(100% / 6);}
.box6-2 {flex-basis: calc(100% / 3);}
.box6-3 {flex-basis: 50%;}
.box6-4 {flex-basis: calc(100% / 3 * 2);}
.box6-5 {flex-basis: calc(100% / 6 * 5);}
.box6-6 {flex-basis: 100%;}
.box7-1 {flex-basis: calc(100% / 7);}
.box7-2 {flex-basis: calc(100% / 7 * 2);}
.box7-3 {flex-basis: calc(100% / 7 * 3);}
.box7-4 {flex-basis: calc(100% / 7 * 4);}
.box7-5 {flex-basis: calc(100% / 7 * 5);}
.box7-6 {flex-basis: calc(100% / 7 * 6);}
.box7-7 {flex-basis: 100%;}
.box8-1 {flex-basis: 12.5%;}
.box8-2 {flex-basis: 25%;}
.box8-3 {flex-basis: 37.5%;}
.box8-4 {flex-basis: 50%;}
.box8-5 {flex-basis: 62.5%;}
.box8-6 {flex-basis: 75%;}
.box8-7 {flex-basis: 87.5%;}
.box8-8 {flex-basis: 100%;}
.box9-1 {flex-basis: calc(100% / 9);}
.box9-2 {flex-basis: calc(100% / 9 * 2);}
.box9-3 {flex-basis: calc(100% / 3);}
.box9-4 {flex-basis: calc(100% / 3 * 1);}
.box9-5 {flex-basis: calc(100% / 9 * 4);}
.box9-6 {flex-basis: calc(100% / 3 * 2);}
.box9-7 {flex-basis: calc(100% / 9 * 7);}
.box9-8 {flex-basis: calc(100% / 9 * 8);}
.box9-9 {flex-basis: 100%;}
.box10-1 {flex-basis: 10%;}
.box10-2 {flex-basis: 20%;}
.box10-3 {flex-basis: 30%;}
.box10-4 {flex-basis: 40%;}
.box10-5 {flex-basis: 50%;}
.box10-6 {flex-basis: 60%;}
.box10-7 {flex-basis: 70%;}
.box10-8 {flex-basis: 80%;}
.box10-9 {flex-basis: 90%;}
.box10-10 {flex-basis: 100%;}
.box11-1 {flex-basis: calc(100% / 11);}
.box11-2 {flex-basis: calc(100% / 11 * 2);}
.box11-3 {flex-basis: calc(100% / 11 * 3);}
.box11-4 {flex-basis: calc(100% / 11 * 4);}
.box11-5 {flex-basis: calc(100% / 11 * 5);}
.box11-6 {flex-basis: calc(100% / 11 * 6);}
.box11-7 {flex-basis: calc(100% / 11 * 7);}
.box11-8 {flex-basis: calc(100% / 11 * 8);}
.box11-9 {flex-basis: calc(100% / 11 * 9);}
.box11-10 {flex-basis: calc(100% / 11 * 10);}
.box11-11 {flex-basis: 100%;}
.box12-1 {flex-basis: calc(100% / 12);}
.box12-2 {flex-basis: calc(100% / 6);}
.box12-3 {flex-basis: 25%;}
.box12-4 {flex-basis: calc(100% / 3);}
.box12-5 {flex-basis: calc(100% / 12 * 5 );}
.box12-6 {flex-basis: 50%;}
.box12-7 {flex-basis: calc(100% / 12 * 7 );}
.box12-8 {flex-basis: calc(100% / 3 * 2);}
.box12-9 {flex-basis: 75%;}
.box12-10 {flex-basis: calc(100% / 6 * 5);}
.box12-11 {flex-basis: calc(100% / 12 * 11);}
.box12-12 {flex-basis: 100%;}

/* preifx */
.pre0 {margin-left: auto;}
.pre2-1 {margin-left: 50%;}
.pre3-1 {margin-left: calc(100% / 3);}
.pre3-2 {margin-left: calc(100% / 3 * 2);}
.pre4-1 {margin-left: 25%;}
.pre4-2 {margin-left: 50%;}
.pre4-3 {margin-left: 75%;}
.pre5-1 {margin-left: 20%;}
.pre5-2 {margin-left: 40%;}
.pre5-3 {margin-left: 60%;}
.pre5-4 {margin-left: 80%;}
.pre6-1 {margin-left: calc(100% / 6);}
.pre6-2 {margin-left: calc(100% / 3);}
.pre6-3 {margin-left: 50%;}
.pre6-4 {margin-left: calc(100% / 3 * 2);}
.pre6-5 {margin-left: calc(100% / 6 * 5);}
.pre7-1 {margin-left: calc(100% / 7);}
.pre7-2 {margin-left: calc(100% / 7 * 2);}
.pre7-3 {margin-left: calc(100% / 7 * 3);}
.pre7-4 {margin-left: calc(100% / 7 * 4);}
.pre7-5 {margin-left: calc(100% / 7 * 5);}
.pre7-6 {margin-left: calc(100% / 7 * 6);}
.pre8-1 {margin-left: 12.5%;}
.pre8-2 {margin-left: 25%;}
.pre8-3 {margin-left: 37.5%;}
.pre8-4 {margin-left: 50%;}
.pre8-5 {margin-left: 62.5%;}
.pre8-6 {margin-left: 75%;}
.pre8-7 {margin-left: 87.5%;}
.pre9-1 {margin-left: calc(100% / 9);}
.pre9-2 {margin-left: calc(100% / 9 * 2);}
.pre9-3 {margin-left: calc(100% / 3);}
.pre9-4 {margin-left: calc(100% / 3 * 1);}
.pre9-5 {margin-left: calc(100% / 9 * 4);}
.pre9-6 {margin-left: calc(100% / 3 * 2);}
.pre9-7 {margin-left: calc(100% / 9 * 7);}
.pre9-8 {margin-left: calc(100% / 9 * 8);}
.pre10-1 {margin-left: 10%;}
.pre10-2 {margin-left: 20%;}
.pre10-3 {margin-left: 30%;}
.pre10-4 {margin-left: 40%;}
.pre10-5 {margin-left: 50%;}
.pre10-6 {margin-left: 60%;}
.pre10-7 {margin-left: 70%;}
.pre10-8 {margin-left: 80%;}
.pre10-9 {margin-left: 90%;}
.pre11-1 {margin-left: calc(100% / 11);}
.pre11-2 {margin-left: calc(100% / 11 * 2);}
.pre11-3 {margin-left: calc(100% / 11 * 3);}
.pre11-4 {margin-left: calc(100% / 11 * 4);}
.pre11-5 {margin-left: calc(100% / 11 * 5);}
.pre11-6 {margin-left: calc(100% / 11 * 6);}
.pre11-7 {margin-left: calc(100% / 11 * 7);}
.pre11-8 {margin-left: calc(100% / 11 * 8);}
.pre11-9 {margin-left: calc(100% / 11 * 9);}
.pre11-10 {margin-left: calc(100% / 11 * 10);}
.pre12-1 {margin-left: calc(100% / 12);}
.pre12-2 {margin-left: calc(100% / 6);}
.pre12-3 {margin-left: 25%;}
.pre12-4 {margin-left: calc(100% / 3);}
.pre12-5 {margin-left: calc(100% / 12 * 5 );}
.pre12-6 {margin-left: 50%;}
.pre12-7 {margin-left: calc(100% / 12 * 7 );}
.pre12-8 {margin-left: calc(100% / 3 * 2);}
.pre12-9 {margin-left: 75%;}
.pre12-10 {margin-left: calc(100% / 6 * 5);}
.pre12-11 {margin-left: calc(100% / 12 * 11);}

/* suffix */
.suf0 {margin-right: auto;}
.suf2-1 {margin-right: 50%;}
.suf3-1 {margin-right: calc(100% / 3);}
.suf3-2 {margin-right: calc(100% / 3 * 2);}
.suf4-1 {margin-right: 25%;}
.suf4-2 {margin-right: 50%;}
.suf4-3 {margin-right: 75%;}
.suf5-1 {margin-right: 20%;}
.suf5-2 {margin-right: 40%;}
.suf5-3 {margin-right: 60%;}
.suf5-4 {margin-right: 80%;}
.suf6-1 {margin-right: calc(100% / 6);}
.suf6-2 {margin-right: calc(100% / 3);}
.suf6-3 {margin-right: 50%;}
.suf6-4 {margin-right: calc(100% / 3 * 2);}
.suf6-5 {margin-right: calc(100% / 6 * 5);}
.suf7-1 {margin-right: calc(100% / 7);}
.suf7-2 {margin-right: calc(100% / 7 * 2);}
.suf7-3 {margin-right: calc(100% / 7 * 3);}
.suf7-4 {margin-right: calc(100% / 7 * 4);}
.suf7-5 {margin-right: calc(100% / 7 * 5);}
.suf7-6 {margin-right: calc(100% / 7 * 6);}
.suf8-1 {margin-right: 12.5%;}
.suf8-2 {margin-right: 25%;}
.suf8-3 {margin-right: 37.5%;}
.suf8-4 {margin-right: 50%;}
.suf8-5 {margin-right: 62.5%;}
.suf8-6 {margin-right: 75%;}
.suf8-7 {margin-right: 87.5%;}
.suf9-1 {margin-right: calc(100% / 9);}
.suf9-2 {margin-right: calc(100% / 9 * 2);}
.suf9-3 {margin-right: calc(100% / 3);}
.suf9-4 {margin-right: calc(100% / 3 * 1);}
.suf9-5 {margin-right: calc(100% / 9 * 4);}
.suf9-6 {margin-right: calc(100% / 3 * 2);}
.suf9-7 {margin-right: calc(100% / 9 * 7);}
.suf9-8 {margin-right: calc(100% / 9 * 8);}
.suf10-1 {margin-right: 10%;}
.suf10-2 {margin-right: 20%;}
.suf10-3 {margin-right: 30%;}
.suf10-4 {margin-right: 40%;}
.suf10-5 {margin-right: 50%;}
.suf10-6 {margin-right: 60%;}
.suf10-7 {margin-right: 70%;}
.suf10-8 {margin-right: 80%;}
.suf10-9 {margin-right: 90%;}
.suf11-1 {margin-right: calc(100% / 11);}
.suf11-2 {margin-right: calc(100% / 11 * 2);}
.suf11-3 {margin-right: calc(100% / 11 * 3);}
.suf11-4 {margin-right: calc(100% / 11 * 4);}
.suf11-5 {margin-right: calc(100% / 11 * 5);}
.suf11-6 {margin-right: calc(100% / 11 * 6);}
.suf11-7 {margin-right: calc(100% / 11 * 7);}
.suf11-8 {margin-right: calc(100% / 11 * 8);}
.suf11-9 {margin-right: calc(100% / 11 * 9);}
.suf11-10 {margin-right: calc(100% / 11 * 10);}
.suf12-1 {margin-right: calc(100% / 12);}
.suf12-2 {margin-right: calc(100% / 6);}
.suf12-3 {margin-right: 25%;}
.suf12-4 {margin-right: calc(100% / 3);}
.suf12-5 {margin-right: calc(100% / 12 * 5 );}
.suf12-6 {margin-right: 50%;}
.suf12-7 {margin-right: calc(100% / 12 * 7 );}
.suf12-8 {margin-right: calc(100% / 3 * 2);}
.suf12-9 {margin-right: 75%;}
.suf12-10	 {margin-right: calc(100% / 6 * 5);}
.suf12-11	 {margin-right: calc(100% / 12 * 11);}

/* margin */
.mar1 {margin: 1.0rem;}
.mar1-t {margin-top: 1.0rem;}
.mar1-r {margin-right: 1.0rem;}
.mar1-b {margin-bottom: 1.0rem;}
.mar1-l {margin-left: 1.0rem;}
.mar1-tb, .mar1-bt {margin-top: 1.0rem; margin-bottom: 1.0rem;}
.mar1-rl, .mar1-lr {margin-right: 1.0rem; margin-left: 1.0rem;}
.mar1-tl, .mar1-lt {margin-top: 1.0rem; margin-left: 1.0rem;}
.mar1-br, .mar1-rb {margin-bottom: 1.0rem; margin-right: 1.0rem;}
.mar1-tr, .mar1-rt {margin-top: 1.0rem; margin-right: 1.0rem;}
.mar1-lb, .mar1-bl {margin-bottom: 1.0rem; margin-left: 1.0rem;}
.mar1-trb, .mar1-tbr, .mar1-rbt, .mar1-rtb, .mar1-btr, .mar1-brt {margin-top: 1.0rem; margin-bottom: 1.0rem; margin-right: 1.0rem;}
.mar1-rbl, .mar1-rlb, .mar1-blr, .mar1-brl, .mar1-lrb, .mar1-lbr {margin-right: 1.0rem; margin-bottom: 1.0rem; margin-left: 1.0rem;}
.mar1-blt, .mar1-btl, .mar1-ltb, .mar1-lbt, .mar1-tbl, .mar1-tlb {margin-bottom: 1.0rem; margin-left: 1.0rem; margin-top: 1.0rem;}
.mar1-ltr, .mar1-lrt, .mar1-trl, .mar1-tlr, .mar1-rlt, .mar1-rtl {margin-left: 1.0rem; margin-top: 1.0rem; margin-right: 1.0rem;}
.mar2 {margin: 2.0rem;}
.mar2-t {margin-top: 2.0rem;}
.mar2-r {margin-right: 2.0rem;}
.mar2-b {margin-bottom: 2.0rem;}
.mar2-l {margin-left: 2.0rem;}
.mar2-tb, .mar2-bt {margin-top: 2.0rem; margin-bottom: 2.0rem;}
.mar2-rl, .mar2-lr {margin-right: 2.0rem; margin-left: 2.0rem;}
.mar2-tl, .mar2-lt {margin-top: 2.0rem; margin-left: 2.0rem;}
.mar2-br, .mar2-rb {margin-bottom: 2.0rem; margin-right: 2.0rem;}
.mar2-tr, .mar2-rt {margin-top: 2.0rem; margin-right: 2.0rem;}
.mar2-lb, .mar2-bl {margin-bottom: 2.0rem; margin-left: 2.0rem;}
.mar2-trb, .mar2-tbr, .mar2-rbt, .mar2-rtb, .mar2-btr, .mar2-brt {margin-top: 2.0rem; margin-bottom: 2.0rem; margin-right: 2.0rem;}
.mar2-rbl, .mar2-rlb, .mar2-blr, .mar2-brl, .mar2-lrb, .mar2-lbr {margin-right: 2.0rem; margin-bottom: 2.0rem; margin-left: 2.0rem;}
.mar2-blt, .mar2-btl, .mar2-ltb, .mar2-lbt, .mar2-tbl, .mar2-tlb {margin-bottom: 2.0rem; margin-left: 2.0rem; margin-top: 2.0rem;}
.mar2-ltr, .mar2-lrt, .mar2-trl, .mar2-tlr, .mar2-rlt, .mar2-rtl {margin-left: 2.0rem; margin-top: 2.0rem; margin-right: 2.0rem;}
.mar3 {margin: 3.0rem;}
.mar3-t {margin-top: 3.0rem;}
.mar3-r {margin-right: 3.0rem;}
.mar3-b {margin-bottom: 3.0rem;}
.mar3-l {margin-left: 3.0rem;}
.mar3-tb, .mar3-bt {margin-top: 3.0rem; margin-bottom: 3.0rem;}
.mar3-rl, .mar3-lr {margin-right: 3.0rem; margin-left: 3.0rem;}
.mar3-tl, .mar3-lt {margin-top: 3.0rem; margin-left: 3.0rem;}
.mar3-br, .mar3-rb {margin-bottom: 3.0rem; margin-right: 3.0rem;}
.mar3-tr, .mar3-rt {margin-top: 3.0rem; margin-right: 3.0rem;}
.mar3-lb, .mar3-bl {margin-bottom: 3.0rem; margin-left: 3.0rem;}
.mar3-trb, .mar3-tbr, .mar3-rbt, .mar3-rtb, .mar3-btr, .mar3-brt {margin-top: 3.0rem; margin-bottom: 3.0rem; margin-right: 3.0rem;}
.mar3-rbl, .mar3-rlb, .mar3-blr, .mar3-brl, .mar3-lrb, .mar3-lbr {margin-right: 3.0rem; margin-bottom: 3.0rem; margin-left: 3.0rem;}
.mar3-blt, .mar3-btl, .mar3-ltb, .mar3-lbt, .mar3-tbl, .mar3-tlb {margin-bottom: 3.0rem; margin-left: 3.0rem; margin-top: 3.0rem;}
.mar3-ltr, .mar3-lrt, .mar3-trl, .mar3-tlr, .mar3-rlt, .mar3-rtl {margin-left: 3.0rem; margin-top: 3.0rem; margin-right: 3.0rem;}

/* padding */
.pad1 {padding: 1.0rem;}
.pad1-t {padding-top: 1.0rem;}
.pad1-r {padding-right: 1.0rem;}
.pad1-b {padding-bottom: 1.0rem;}
.pad1-l {padding-left: 1.0rem;}
.pad1-tb, .pad1-bt {padding-top: 1.0rem; padding-bottom: 1.0rem;}
.pad1-rl, .pad1-lr {padding-right: 1.0rem; padding-left: 1.0rem;}
.pad1-tl, .pad1-lt {padding-top: 1.0rem; padding-left: 1.0rem;}
.pad1-br, .pad1-rb {padding-bottom: 1.0rem; padding-right: 1.0rem;}
.pad1-tr, .pad1-rt {padding-top: 1.0rem; padding-right: 1.0rem;}
.pad1-lb, .pad1-bl {padding-bottom: 1.0rem; padding-left: 1.0rem;}
.pad1-trb, .pad1-tbr, .pad1-rbt, .pad1-rtb, .pad1-btr, .pad1-brt {padding-top: 1.0rem; padding-bottom: 1.0rem; padding-right: 1.0rem;}
.pad1-rbl, .pad1-rlb, .pad1-blr, .pad1-brl, .pad1-lrb, .pad1-lbr {padding-right: 1.0rem; padding-bottom: 1.0rem; padding-left: 1.0rem;}
.pad1-blt, .pad1-btl, .pad1-ltb, .pad1-lbt, .pad1-tbl, .pad1-tlb {padding-bottom: 1.0rem; padding-left: 1.0rem; padding-top: 1.0rem;}
.pad1-ltr, .pad1-lrt, .pad1-trl, .pad1-tlr, .pad1-rlt, .pad1-rtl {padding-left: 1.0rem; padding-top: 1.0rem; padding-right: 1.0rem;}
.pad2 {padding: 2.0rem;}
.pad2-t {padding-top: 2.0rem;}
.pad2-r {padding-right: 2.0rem;}
.pad2-b {padding-bottom: 2.0rem;}
.pad2-l {padding-left: 2.0rem;}
.pad2-tb, .pad2-bt {padding-top: 2.0rem; padding-bottom: 2.0rem;}
.pad2-rl, .pad2-lr {padding-right: 2.0rem; padding-left: 2.0rem;}
.pad2-tl, .pad2-lt {padding-top: 2.0rem; padding-left: 2.0rem;}
.pad2-br, .pad2-rb {padding-bottom: 2.0rem; padding-right: 2.0rem;}
.pad2-tr, .pad2-rt {padding-top: 2.0rem; padding-right: 2.0rem;}
.pad2-lb, .pad2-bl {padding-bottom: 2.0rem; padding-left: 2.0rem;}
.pad2-trb, .pad2-tbr, .pad2-rbt, .pad2-rtb, .pad2-btr, .pad2-brt {padding-top: 2.0rem; padding-bottom: 2.0rem; padding-right: 2.0rem;}
.pad2-rbl, .pad2-rlb, .pad2-blr, .pad2-brl, .pad2-lrb, .pad2-lbr {padding-right: 2.0rem; padding-bottom: 2.0rem; padding-left: 2.0rem;}
.pad2-blt, .pad2-btl, .pad2-ltb, .pad2-lbt, .pad2-tbl, .pad2-tlb {padding-bottom: 2.0rem; padding-left: 2.0rem; padding-top: 2.0rem;}
.pad2-ltr, .pad2-lrt, .pad2-trl, .pad2-tlr, .pad2-rlt, .pad2-rtl {padding-left: 2.0rem; padding-top: 2.0rem; padding-right: 2.0rem;}
.pad3 {padding: 3.0rem;}
.pad3-t {padding-top: 3.0rem;}
.pad3-r {padding-right: 3.0rem;}
.pad3-b {padding-bottom: 3.0rem;}
.pad3-l {padding-left: 3.0rem;}
.pad3-tb, .pad3-bt {padding-top: 3.0rem; padding-bottom: 3.0rem;}
.pad3-rl, .pad3-lr {padding-right: 3.0rem; padding-left: 3.0rem;}
.pad3-tl, .pad3-lt {padding-top: 3.0rem; padding-left: 3.0rem;}
.pad3-br, .pad3-rb {padding-bottom: 3.0rem; padding-right: 3.0rem;}
.pad3-tr, .pad3-rt {padding-top: 3.0rem; padding-right: 3.0rem;}
.pad3-lb, .pad3-bl {padding-bottom: 30px; padding-left: 3.0rem;}
.pad3-trb, .pad3-tbr, .pad3-rbt, .pad3-rtb, .pad3-btr, .pad3-brt {padding-top: 3.0rem; padding-bottom: 3.0rem; padding-right: 3.0rem;}
.pad3-rbl, .pad3-rlb, .pad3-blr, .pad3-brl, .pad3-lrb, .pad3-lbr {padding-right: 3.0rem; padding-bottom: 3.0rem; padding-left: 3.0rem;}
.pad3-blt, .pad3-btl, .pad3-ltb, .pad3-lbt, .pad3-tbl, .pad3-tlb {padding-bottom: 3.0rem; padding-left: 3.0rem; padding-top: 3.0rem;}
.pad3-ltr, .pad3-lrt, .pad3-trl, .pad3-tlr, .pad3-rlt, .pad3-rtl {padding-left: 3.0rem; padding-top: 3.0rem; padding-right: 3.0rem;}

.neg1-rl, .neg1-lr {margin-left: -1.0rem; margin-right: -1.0rem;}
.neg2-rl, .neg2-lr {margin-left: -2.0rem; margin-right: -2.0rem;}
.neg3-rl, .neg3-lr {margin-left: -3.0rem; margin-right: -3.0rem;}

/* show hide */
.sho-o {display: inherit;}
.sho-l {display: none;}
.sho-m {display: none;}
.sho-s {display: none;}
.sho-om, .sho-mo {display: inherit;}
.sho-ls, .sho-sl {display: none;}
.sho-os, .sho-so {display: inherit;}
.sho-ml, .sho-lm {display: none;}
.sho-ol, .sho-lo {display: inherit;}
.sho-sm, .sho-ms {display: none;}
.sho-olm, .sho-oml, .sho-lmo, .sho-lom, .sho-mol, .sho-mlo {display: inherit;}
.sho-lms, .sho-lsm, .sho-msl, .sho-mls, .sho-slm, .sho-sml {display: none;}
.sho-mso, .sho-mos, .sho-som, .sho-smo, .sho-oms, .sho-osm {display: inherit;}
.sho-sol, .sho-slo, .sho-ols, .sho-osl, .sho-lso, .sho-los {display: inherit;}

.hid-o {display: none;}
.hid-l {display: inherit;}
.hid-m {display: inherit;}
.hid-s {display: inherit;}
.hid-om, .hid-mo {display: none;}
.hid-ls, .hid-sl {display: inherit;}
.hid-os, .hid-so {display: none;}
.hid-ml, .hid-lm {display: inherit;}
.hid-ol, .hid-lo {display: none;}
.hid-sm, .hid-ms {display: inherit;}
.hid-olm, .hid-oml, .hid-lmo, .hid-lom, .hid-mol, .hid-mlo {display: none;}
.hid-lms, .hid-lsm, .hid-msl, .hid-mls, .hid-slm, .hid-sml {display: inherit;}
.hid-mso, .hid-mos, .hid-som, .hid-smo, .hid-oms, .hid-osm {display: none;}
.hid-sol, .hid-slo, .hid-ols, .hid-osl, .hid-lso, .hid-los {display: none;}

/*---------------------------------------------------------------------------------
	large [l] 
	desktop  <= 1200px
---------------------------------------------------------------------------------*/
@media (max-width: 1200px) {

}

/*---------------------------------------------------------------------------------
	medium [m] 
	over desktop <= 992px
---------------------------------------------------------------------------------*/
@media (max-width: 992px) {

}

/*---------------------------------------------------------------------------------
	small [s] 
	phone <= 768px
---------------------------------------------------------------------------------*/
@media (min-width: 768px) {

}

/*=================================================================================
	border
=================================================================================*/
.bor,
.bor-t,
.bor-r,
.bor-b,
.bor-l,
.bor-tb, .bor-bt,
.bor-rl, .bor-lr,
.bor-tl, .bor-lt,
.bor-br, .bor-rb,
.bor-tr, .bor-rt,
.bor-lb, .bor-bl,
.bor-trb, .bor-tbr, .bor-rbt, .bor-rtb, .bor-btr, .bor-brt,
.bor-rbl, .bor-rlb, .bor-blr, .bor-brl, .bor-lrb, .bor-lbr,
.bor-blt, .bor-btl, .bor-ltb, .bor-lbt, .bor-tbl, .bor-tlb,
.bor-ltr, .bor-lrt, .bor-trl, .bor-tlr, .bor-rlt, .bor-rtl
{
	border-style: solid;
	border-color: rgba(0,0,0,0.4);
}
.bor
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.bor-t { border-top-width: 1px; }
.bor-r { border-right-width: 1px; }
.bor-b { border-bottom-width: 1px; }
.bor-l { border-left-width: 1px; }
.bor-tb, .bor-bt { border-top-width: 1px; border-bottom-width: 1px; }
.bor-rl, .bor-lr { border-right-width: 1px; border-left-width: 1px; }
.bor-tl, .bor-lt { border-top-width: 1px; border-left-width: 1px; }
.bor-br, .bor-rb { border-bottom-width: 1px; border-right-width: 1px; }
.bor-tr, .bor-rt { border-top-width: 1px; border-right-width: 1px; }
.bor-lb, .bor-bl { border-left-width: 1px; border-bottom-width: 1px; }
.bor-trb, .bor-tbr, .bor-rbt, .bor-rtb, .bor-btr, .bor-brt { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; }
.bor-rbl, .bor-rlb, .bor-blr, .bor-brl, .bor-lrb, .bor-lbr { border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; }
.bor-blt, .bor-btl, .bor-ltb, .bor-lbt, .bor-tbl, .bor-tlb { border-bottom-width: 1px; border-left-width: 1px; border-top-width: 1px; }
.bor-ltr, .bor-lrt, .bor-trl, .bor-tlr, .bor-rlt, .bor-rtl { border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; }

.bor-black {border-color: black}
.bor-red {border-color: red}
.bor-blue {border-color: blue}
.bor-green {border-color: green}